//  values variable

$val0: 0;
$val1: 1;
$val15: 15px;
$val3: 3px;
$val4: 4px;
$val5: 5px;
$val8: 0.5rem;
$val10: 10px;
$val20: 20px;
$val185: 185px;
$val7: 7px;
$val256: 256px;
$val226: 226px;
$val300: 300px;
$z-ix999: 999;
$z-ix1030: 1030;
$w100: 100%;
$val100: 100%;
$val50: 50%;
$width1590: 1590px;
$height100: 100vh;

// style variable
$flex: flex;
$block: block;
$inline_block: inline-block;
$none: none;
$auto: auto;
$solid: solid;
$center: center;
$middle: middle;
$right: right;
$column: column;
$normal: normal;
$row: row;
$pointer: pointer;
$absolute: absolute;
$relative: relative;
$sticky: sticky;
$fixed: fixed;
$hidden: hidden;
$end: end;
$flex-end: flex-end;
$wrap: wrap;
$inherit: inherit;
$hidden: hidden;
$left: left;

:root {
  font-size: 16px;
}
$heading_h1: 2em;
$heading_h2: 1.7144em;
$heading_h3: 1.5em;
$heading_h4: 1.25em;
$heading_h5: 1.25em;
$heading_h6: 1.125em;
$body_1: 1.125em;
$body_2: 1em;
$paragraph_1: 0.875em;
$label_sm: 0.75em;

$fix_size_24: 24px;
$fix_size_20: 20px;
$fix_size_18: 18px;
$fix_size_16: 16px;
$fix_size_14: 14px;
